@{
    ViewBag.Title = "Add Log";
}
<br />
<br />
<h2>@ViewBag.MountainName</h2>
<div>
    <form action="/Mountain/SaveLog" method="post">
        <input type="hidden" name="MountainID" value="@ViewBag.MountainID" />
        <table>
            <tr>
                <td>
                    Summit Date
                </td>
                <td>
                    <input type="text" name="SummitDate" value="@DateTime.Now.Date.ToShortDateString()">
                </td>
            </tr>
            <tr>
                <td>Summit Note</td>
                <td>
                    <input type="text" name="SummitNote">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="BtnSave" value="Save" />
                    <input type="reset" />
                </td>
            </tr>
        </table>
    </form>
</div>