
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.mtnName Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map_canvas {
            height: 100%;
        }
    </style>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js">
    </script>

    <script>

        function ShowMap()
        {
            var lat = @ViewBag.lat;
            var long = @ViewBag.lng;
            var mtnName = "@ViewBag.mtnName: " + lat + "/" + long;

            var options = {center: new google.maps.LatLng(lat , long),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),options);

            var myLatlng = new google.maps.LatLng(lat , long);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title:mtnName
            });

        }
    </script>
</head>

<body onload="ShowMap()">
    <!--<a href="javascript: ShowMap()">Squaw Peak</a>-->
    <div id="map_canvas"></div>
</body>
</html>