<p>
    I considered myself to be an outdoors enthusiast.  Very few
    activities provide me with as much joy as hiking, camping, skiing, mountain
    biking, rock climbing, ice climbing and exploring.
</p>

<p>
    This passion began in my childhood.  At the young age of 10 years, I climbed Chief
    Mountain in Glacier Park, MT.  At the age of 12 years, with my scout troop,
    I did a 26 mile back-packing trek from Chief
    Mountain Customs (<i>USA/Canada border</i>) over Stoney Indian Pass to Goat Haunt at
    the head of Wateron Lakes (<i>
        interestingly, I still
        use  the down-filled sleeping bag bought for that trip
    </i>).  In 1981 &amp; 1982 I camped and hiked in Kananaskis
    country Alberta, first at the Canadian Boy Scout Jamboree and again for the
    World Jamboree Hike Master camp.  As a teen I fished a lot of the lakes and streams
    in Southern Alberta, and Northern Montana.  In college, I took a High Country
    Backpacking class.
</p>

<p>
    I can brag about having hiked every marked-trail in Waterton Park, Alberta, and even a few of the now
    closed ones such as over the cliff into Lineham Lakes.  While driving in Glacier Park, MT I was once charged
    by a moose. Twice on mountain bikes in Waterton I have crossed trails with grizzly bears, and
    another time spotted a cougar. In 1993 I biked the 330-km Golden Triangle from Banff, Alberta through
    Radium and Golden BC.  I have rock climbed at Stone Hill, MT, ice climbed in Ouray CO, scaled the Grand Teton, and explored the Grand Canyon.
    My mother, brother and myself, at the stroke of midnight, welcomed in the 21<sup>st</sup> century from Bear's Hump, and
    I spent the rest of that day skiing at Castle Mountain.
    I have white-water rafted on the Gauley river in WV and the Youghiogheny river in PA. During the
    1998-2005 time frame I did countless hikes in the GW Forest, and Shenandoah Park, VA;
    with a favorite being from the park boundary to White Oaks Falls.  I have sky-dived.
    In 2003 I completed biking the 184.5 mile long C&amp;O canal trail from Washington, DC to Cumberland, MD.
    During the 2005/2006 ski season I skied 21 full days (did the same number of days in the 2006/2007 season).  Between December
    2007 and July 2008 I climbed at least one mountain or spent at least one day skiing a week for 29 weeks in a row.  Between
    August 23, 2007 and August 11, 2008 I climbed 52 peaks exceeding my goal of 40 peaks in one year!  As of June 2013 I have climbed to the highest point in 15 of the 50 US states.
    The 2013/14 ski season I got in 32 days at Sundance for a total of 431 lift rides/runs.  June 7, 2014 I summited the highest mountain in North America, namely Denali.
</p>


<p>
    Bearing the description above in mind, a list of hikes, and other
    outdoor adventures, it seems, would run on endlessly, and so instead I have
    decided to log, within this website, a list of the mountain peaks I have stood on top of, and all of the rock climbs I have done.  
</p>
