@using Walter.ViewModels;
@model List<VmImage>
Image Count:  <span id="ImageCount" class="badge">@Model.Count</span><br />
<b>Hint:</b> Use the keyboard spacebar to scroll down a page full at a time; and shift-spacebar to scroll up.
<br />
<br />
<form method="post" id="form1" name="form1">
    @foreach (var image in Model)
    {
        <div id="div@(image.Id)" style="border: 1px solid black;">
            <img width="450" src="@image.Url" />
            <input type="radio" name="Id" id="Id" value="@image.Id" onchange="if (confirm('Really?')) { deleteImage(@image.Id)}" /> Delete
        </div>
        <br />
        <br />
    }
</form>