@using Walter.ViewModels;
@model List<VmQuote>
<br />
<ol style="margin-bottom: 0px">
    @foreach (var q in Model)
    {
        <li><span title="id = @q.Id">@q.Quote</span> <i>@q.Author</i><br /><br /></li>
    }
</ol>