@using System.Collections;
@using Walter.ViewModels;
@model VMForecast
@{
    ViewBag.Title = "Test";
    ViewBag.ExpandThisMonth = 1;
}

<!-- Playing with Git branhing -->

<h2>Learning Partial Views</h2>
<br />
@for (int i = 1; i < 13; i++)
{
    ViewBag.MonthInt = i;
    Html.RenderPartial("~/Views/Shared/_ForecastTable.cshtml", Model);
}
