@{
    ViewBag.Title = "Resume";
}

<div class="container">
    <br />
    <div class="well well-sm">
        <h2><i class="fa fa-book"></i> Resume</h2>
        Trust Walter for all your website and web application needs.
    </div>
    <h4>Building better business through smarter technology</h4>
    <p>
        Since 1997, Walter VanderHeide has provided custom, database-driven, web applications
        to commercial, federal and municipal clients. With a skilled, industry-leading approach
        to web application development, Walter delivers solutions that solve critical business
        problems effectively and affordably every time.
    </p>
    <p>
        For all your website and web application needs contact:
    </p>


    <address>
        Walter VanderHeide<br />
        Orem, UT 84058<br />
        <i class="fa fa-phone"></i> 385.224.xxxx
    </address>

    <address>
        <i class="fa fa-envelope"></i> <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="fa fa-envelope"></i> <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
        <i class="fa fa-book"></i> <strong>Resume:</strong> <a href="#">View PDF</a>
    </address>
    <br />
    <i>Specializing in Internet-Intranet-Portal Web Applications.</i>
</div>