/* Padding-top prevents navbar covering top of body elements */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by bootstrap default */
input,
select,
textarea {
    max-width: 280px;

}


/* Override the default bootstrap behavior where horizontal description lists will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}
.large {
    font-size: 140%;
}

/*.navbar {

background-color:#337ab7;
background-image: none;
}*/

.navbar-inverse .navbar-brand {
    color: white;
}
/*.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
}*/