USE [Walter]
GO

DROP TABLE [dbo].[Contacts]

GO

/****** Object:  Table [dbo].[Contacts]    Script Date: 10/17/2016 1:18:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First Name] [varchar](50) NULL,
	[Last Name] [varchar](50) NULL,
	[Middle Name] [varchar](50) NULL,
	[Spouse] [varchar](50) NULL,
	[Mobile Phone] [varchar](50) NULL,
	[Home Phone] [varchar](50) NULL,
	[Home Street] [varchar](200) NULL,
	[Home City] [varchar](50) NULL,
	[Home Postal Code] [varchar](50) NULL,
	[Home State] [varchar](50) NULL,
	[Home Country] [varchar](50) NULL,
	[Nickname] [varchar](50) NULL,
	[Notes] [varchar](1000) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

GO
INSERT [dbo].[Contacts] ([Id], [First Name], [Last Name], [Middle Name], [Spouse], [Mobile Phone], [Home Phone], [Home Street], [Home City], [Home Postal Code], [Home State], [Home Country], [Nickname], [Notes]) 
VALUES (1, N'Alex', N'Mitchel', NULL, NULL, N'406.531.2054', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

GO
INSERT [dbo].[Contacts] ([Id], [First Name], [Last Name], [Middle Name], [Spouse], [Mobile Phone], [Home Phone], [Home Street], [Home City], [Home Postal Code], [Home State], [Home Country], [Nickname], [Notes]) VALUES (2, N'Adam', N'Goodman', NULL, NULL, N'801.735.9908', NULL, N'1735 S. 100 E.', N'Orem', N'84058', N'UT', N'USA', N'Bishop', NULL)
GO
INSERT [dbo].[Contacts] ([Id], [First Name], [Last Name], [Middle Name], [Spouse], [Mobile Phone], [Home Phone], [Home Street], [Home City], [Home Postal Code], [Home State], [Home Country], [Nickname], [Notes]) VALUES (3, N'Alan', N'Moore', NULL, NULL, N'801.372.4688', NULL, N'1611 Grandview Lane #5', N'Provo', N'84604', N'UT', N'USA', NULL, NULL)
GO




GO



























































/*

INSERT [dbo].[Contacts] ([Id], [First Name], [Last Name], [Middle Name], [Spouse], [Mobile Phone], [Home Phone], [Home Street], [Home City], [Home Postal Code], [Home State], [Home Country], [Nickname], [Notes]) 
VALUES (200, N'fff', N'Quarry', NULL, NULL, N'801', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
*/


SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO


  SELECT max(id) as MaxId, count([Last Name]) as Contacts_Count
  FROM [Walter].[dbo].Contacts
  go