USE [Walter]
GO
drop table [dbo].[NissanFrontierExpenseLog]
go
/****** Object:  Table [dbo].[NissanFrontierExpenseLog]    Script Date: 3/31/2017 6:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NissanFrontierExpenseLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Mileage] [int] NULL,
	[Date] [datetime] NOT NULL,
	[DollarAmount] [decimal](18, 2) NOT NULL,
	[Note] [varchar](2000) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NissanFrontierExpenseLog] ON 

GO
INSERT [dbo].[NissanFrontierExpenseLog] ([id], [Mileage], [Date], [DollarAmount], [Note]) VALUES (1, 54, CAST(N'2017-03-15T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Picked up vehicle')
GO
INSERT [dbo].[NissanFrontierExpenseLog] ([id], [Mileage], [Date], [DollarAmount], [Note]) VALUES (2, NULL, CAST(N'2017-03-17T00:00:00.000' AS DateTime), CAST(21.36 AS Decimal(18, 2)), N'Mothers Carnuba Wax')
GO
INSERT [dbo].[NissanFrontierExpenseLog] ([id], [Mileage], [Date], [DollarAmount], [Note]) VALUES (3, NULL, CAST(N'2017-03-18T00:00:00.000' AS DateTime), CAST(19.74 AS Decimal(18, 2)), N'Clay bar')
GO
SET IDENTITY_INSERT [dbo].[NissanFrontierExpenseLog] OFF
GO
