USE [Walter]

GO
DROP TABLE [dbo].[Quotes]

GO
/****** Object:  Table [dbo].[Quotes]    Script Date: 10/17/2016 1:22:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quote] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Quotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Quotes] ON 

GO
INSERT [dbo].[Quotes] ([Id], [Quote], [Author]) VALUES (1, N'Who needs wilderness? Civilization needs wilderness.', N'Edward Abbey')
GO
INSERT [dbo].[Quotes] ([Id], [Quote], [Author]) VALUES (2, N'At either end of the social spectrum lies a leisure class.', N'Unknown')
GO
INSERT [dbo].[Quotes] ([Id], [Quote], [Author]) VALUES (3, N'It requires some effort to achieve a happy outlook on life, and most people don''t make it.', N'Gregg Easterbrook')
GO






































go 























































































































































SET IDENTITY_INSERT [dbo].[Quotes] OFF
GO



    SELECT max(id) as MaxId, count(Id) as Quotes_Count
  FROM [Walter].[dbo].Quotes