USE [master]
GO
/****** Object:  Database [Walter]    Script Date: 6/8/2018 9:00:43 AM ******/
CREATE DATABASE [Walter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Walter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Walter.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Walter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Walter_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Walter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Walter]
GO
/****** Object:  Table [dbo].[ACDC]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACDC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Song] [varchar](500) NOT NULL,
 CONSTRAINT [PK_ACDC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArchCollaborativeByOrgFiles]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArchCollaborativeByOrgFiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ArchCollaborativesByOrg_ForeignKey_Id] [int] NOT NULL,
	[title] [varchar](250) NOT NULL,
	[FileDate] [datetime] NOT NULL,
	[FileExtention] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArchCollaborativeGeneralResource]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArchCollaborativeGeneralResource](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceTitle] [varchar](250) NOT NULL,
	[ResourceDate] [datetime] NOT NULL,
	[isFeatured] [bit] NOT NULL,
	[CoverExtention] [varchar](50) NULL,
	[FileExtention] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArchCollaborativesByOrg]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchCollaborativesByOrg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrgId] [int] NOT NULL,
	[CollaborativeDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArchCollaborativeWebinars]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArchCollaborativeWebinars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[WebinarTitle] [varchar](250) NOT NULL,
	[WebinarDate] [datetime] NOT NULL,
	[VimeoId] [varchar](250) NOT NULL,
	[IsFeatured] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bands]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Bands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClimbingArea]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClimbingArea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Area] [varchar](50) NOT NULL,
	[Latitude] [decimal](30, 10) NULL,
	[Longitude] [decimal](30, 10) NULL,
	[State] [varchar](20) NULL,
	[NearestCity] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[AreaNote] [varchar](500) NULL,
 CONSTRAINT [PK_ClimbingArea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClimbingPartner]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClimbingPartner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](20) NULL,
	[LName] [varchar](30) NULL,
	[PartnerNote] [varchar](500) NULL,
 CONSTRAINT [PK_ClimbingPartner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClimbingRoute]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClimbingRoute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AreaId] [int] NULL,
	[Route] [varchar](50) NULL,
	[TypeId] [int] NULL,
	[Rating] [varchar](10) NULL,
	[Date] [date] NULL,
	[PartnerId] [int] NULL,
	[OtherPartnerId1] [int] NULL,
	[OtherPartnerId2] [int] NULL,
	[OtherPartnerId3] [int] NULL,
	[RouteNote] [varchar](500) NULL,
 CONSTRAINT [PK_ClimbingRoute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClimbingType]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClimbingType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ClimbingRouteType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First Name] [varchar](50) NULL,
	[Last Name] [varchar](50) NULL,
	[Middle Name] [varchar](50) NULL,
	[Spouse] [varchar](50) NULL,
	[Mobile Phone] [varchar](50) NULL,
	[Home Phone] [varchar](50) NULL,
	[Home Street] [varchar](200) NULL,
	[Home City] [varchar](50) NULL,
	[Home Postal Code] [varchar](50) NULL,
	[Home State] [varchar](50) NULL,
	[Home Country] [varchar](50) NULL,
	[Nickname] [varchar](50) NULL,
	[Notes] [varchar](1000) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ELMAH_Error]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELMAH_Error](
	[ErrorId] [uniqueidentifier] NOT NULL,
	[Application] [nvarchar](60) NOT NULL,
	[Host] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Source] [nvarchar](60) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[StatusCode] [int] NOT NULL,
	[TimeUtc] [datetime] NOT NULL,
	[Sequence] [int] IDENTITY(1,1) NOT NULL,
	[AllXml] [ntext] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mountains]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mountains](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Elevation] [int] NOT NULL,
	[Country] [varchar](100) NOT NULL,
	[State] [varchar](50) NULL,
	[Latitude] [decimal](30, 10) NULL,
	[Longitude] [decimal](30, 10) NULL,
	[MountainNote] [varchar](255) NULL,
 CONSTRAINT [PK_Mountains] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MountainSummitLog]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MountainSummitLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MountainID] [int] NOT NULL,
	[SummitDate] [date] NULL,
	[SummitNote] [varchar](255) NULL,
 CONSTRAINT [PK_MountainSummitLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NissanFrontierExpenseLog]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NissanFrontierExpenseLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Mileage] [int] NULL,
	[Date] [datetime] NOT NULL,
	[DollarAmount] [decimal](18, 2) NOT NULL,
	[Note] [varchar](2000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[URL] [varchar](200) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quotes]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quote] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Quotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[Nissan_TotalExpenseToDate]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Nissan_TotalExpenseToDate]
AS
SELECT        SUM(DollarAmount) AS TotalExpenseToDate, MAX(Date) AS MaxDate
FROM            dbo.NissanFrontierExpenseLog




GO
/****** Object:  View [dbo].[RoutesJoined]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RoutesJoined]
AS
SELECT        dbo.ClimbingType.Type, dbo.ClimbingArea.Area, dbo.ClimbingRoute.Route, dbo.ClimbingRoute.Rating, dbo.ClimbingPartner.FName, dbo.ClimbingPartner.LName, dbo.ClimbingPartner.PartnerNote, 
                         dbo.ClimbingRoute.Date
FROM            dbo.ClimbingArea INNER JOIN
                         dbo.ClimbingRoute ON dbo.ClimbingArea.Id = dbo.ClimbingRoute.AreaId INNER JOIN
                         dbo.ClimbingPartner ON dbo.ClimbingRoute.PartnerId = dbo.ClimbingPartner.Id INNER JOIN
                         dbo.ClimbingType ON dbo.ClimbingRoute.TypeId = dbo.ClimbingType.Id

GO
SET IDENTITY_INSERT [dbo].[ACDC] ON 

INSERT [dbo].[ACDC] ([Id], [Song]) VALUES (1, N'Ain''t No Fun (Waiting Round to Be a Millionaire)')
INSERT [dbo].[ACDC] ([Id], [Song]) VALUES (2, N'All Screwed Up')
INSERT [dbo].[ACDC] ([Id], [Song]) VALUES (3, N'Anything Goes')
GO
SET IDENTITY_INSERT [dbo].[ACDC] OFF
SET IDENTITY_INSERT [dbo].[Bands] ON 

INSERT [dbo].[Bands] ([Id], [Name]) VALUES (1, N'Meat Loaf')
INSERT [dbo].[Bands] ([Id], [Name]) VALUES (2, N'The Police')
INSERT [dbo].[Bands] ([Id], [Name]) VALUES (3, N'Rod Steward')
GO
SET IDENTITY_INSERT [dbo].[Bands] OFF
SET IDENTITY_INSERT [dbo].[ClimbingArea] ON 

INSERT [dbo].[ClimbingArea] ([Id], [Area], [Latitude], [Longitude], [State], [NearestCity], [Country], [AreaNote]) VALUES (1, N'Maple Canyon', NULL, NULL, N'UT', N'Fountain Green', N'USA', NULL)
INSERT [dbo].[ClimbingArea] ([Id], [Area], [Latitude], [Longitude], [State], [NearestCity], [Country], [AreaNote]) VALUES (2, N'Quarry', NULL, NULL, N'UT', N'Provo', N'USA', NULL)
INSERT [dbo].[ClimbingArea] ([Id], [Area], [Latitude], [Longitude], [State], [NearestCity], [Country], [AreaNote]) VALUES (3, N'Wall Street', NULL, NULL, N'UT', N'Moab', N'USA', NULL)
SET IDENTITY_INSERT [dbo].[ClimbingArea] OFF
SET IDENTITY_INSERT [dbo].[ClimbingPartner] ON 

INSERT [dbo].[ClimbingPartner] ([Id], [FName], [LName], [PartnerNote]) VALUES (1, NULL, NULL, N'UCC Members')
INSERT [dbo].[ClimbingPartner] ([Id], [FName], [LName], [PartnerNote]) VALUES (2, N'Glenn', N'Merrill', NULL)
INSERT [dbo].[ClimbingPartner] ([Id], [FName], [LName], [PartnerNote]) VALUES (3, N'Carl', N'Line', NULL)
SET IDENTITY_INSERT [dbo].[ClimbingPartner] OFF
SET IDENTITY_INSERT [dbo].[ClimbingRoute] ON 

INSERT [dbo].[ClimbingRoute] ([Id], [AreaId], [Route], [TypeId], [Rating], [Date], [PartnerId], [OtherPartnerId1], [OtherPartnerId2], [OtherPartnerId3], [RouteNote]) VALUES (1, 1, N'Rubber Cup Nausea', 3, N'WI3', CAST(N'2010-01-30' AS Date), 1, NULL, NULL, NULL, N'My first ice climb.')
INSERT [dbo].[ClimbingRoute] ([Id], [AreaId], [Route], [TypeId], [Rating], [Date], [PartnerId], [OtherPartnerId1], [OtherPartnerId2], [OtherPartnerId3], [RouteNote]) VALUES (2, 1, N'Moroni Turkey Plant', 3, NULL, CAST(N'2010-01-30' AS Date), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[ClimbingRoute] ([Id], [AreaId], [Route], [TypeId], [Rating], [Date], [PartnerId], [OtherPartnerId1], [OtherPartnerId2], [OtherPartnerId3], [RouteNote]) VALUES (3, 1, N'The Dagger', 3, N'WI3', CAST(N'2010-01-30' AS Date), 1, NULL, NULL, NULL, N'Bottom Section')
SET IDENTITY_INSERT [dbo].[ClimbingRoute] OFF
SET IDENTITY_INSERT [dbo].[ClimbingType] ON 

INSERT [dbo].[ClimbingType] ([Id], [Type]) VALUES (1, N'Rock')
INSERT [dbo].[ClimbingType] ([Id], [Type]) VALUES (2, N'Gym')
INSERT [dbo].[ClimbingType] ([Id], [Type]) VALUES (3, N'Ice')
SET IDENTITY_INSERT [dbo].[ClimbingType] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [First Name], [Last Name], [Middle Name], [Spouse], [Mobile Phone], [Home Phone], [Home Street], [Home City], [Home Postal Code], [Home State], [Home Country], [Nickname], [Notes]) VALUES (1, N'Alex', N'Mitchel', NULL, NULL, N'406.531.2054', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contacts] ([Id], [First Name], [Last Name], [Middle Name], [Spouse], [Mobile Phone], [Home Phone], [Home Street], [Home City], [Home Postal Code], [Home State], [Home Country], [Nickname], [Notes]) VALUES (2, N'Adam', N'Goodman', NULL, NULL, N'801.735.9908', NULL, N'1735 S. 100 E.', N'Orem', N'84058', N'UT', N'USA', N'Bishop', NULL)
INSERT [dbo].[Contacts] ([Id], [First Name], [Last Name], [Middle Name], [Spouse], [Mobile Phone], [Home Phone], [Home Street], [Home City], [Home Postal Code], [Home State], [Home Country], [Nickname], [Notes]) VALUES (3, N'Alan', N'Moore', NULL, NULL, N'801.372.4688', NULL, N'1611 Grandview Lane #5', N'Provo', N'84604', N'UT', N'USA', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Mountains] ON 

INSERT [dbo].[Mountains] ([Id], [Name], [Elevation], [Country], [State], [Latitude], [Longitude], [MountainNote]) VALUES (1, N'Mount Timpanogos', 11749, N'USA', N'UT', CAST(40.3907400000 AS Decimal(30, 10)), CAST(-111.6457500000 AS Decimal(30, 10)), NULL)
INSERT [dbo].[Mountains] ([Id], [Name], [Elevation], [Country], [State], [Latitude], [Longitude], [MountainNote]) VALUES (2, N'Mount Lineham', 8950, N'Canada', N'Alberta', CAST(49.0696500000 AS Decimal(30, 10)), CAST(-114.0491200000 AS Decimal(30, 10)), NULL)
INSERT [dbo].[Mountains] ([Id], [Name], [Elevation], [Country], [State], [Latitude], [Longitude], [MountainNote]) VALUES (3, N'White Butte', 3507, N'USA', N'ND', CAST(46.3868000000 AS Decimal(30, 10)), CAST(-103.3021000000 AS Decimal(30, 10)), N'US State High Point')
GO
SET IDENTITY_INSERT [dbo].[Mountains] OFF
SET IDENTITY_INSERT [dbo].[MountainSummitLog] ON 

INSERT [dbo].[MountainSummitLog] ([Id], [MountainID], [SummitDate], [SummitNote]) VALUES (1, 1, CAST(N'1995-09-16' AS Date), N'Aspen Grove Trail')
INSERT [dbo].[MountainSummitLog] ([Id], [MountainID], [SummitDate], [SummitNote]) VALUES (2, 1, CAST(N'2005-09-03' AS Date), N'Aspen Grove Trail')
INSERT [dbo].[MountainSummitLog] ([Id], [MountainID], [SummitDate], [SummitNote]) VALUES (3, 1, CAST(N'2007-08-04' AS Date), N'Timponooke Trail')
GO
SET IDENTITY_INSERT [dbo].[MountainSummitLog] OFF
SET IDENTITY_INSERT [dbo].[NissanFrontierExpenseLog] ON 

INSERT [dbo].[NissanFrontierExpenseLog] ([id], [Mileage], [Date], [DollarAmount], [Note]) VALUES (1, 54, CAST(N'2017-03-15 00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Picked up vehicle')
INSERT [dbo].[NissanFrontierExpenseLog] ([id], [Mileage], [Date], [DollarAmount], [Note]) VALUES (2, NULL, CAST(N'2017-03-17 00:00:00.000' AS DateTime), CAST(21.36 AS Decimal(18, 2)), N'Mothers Carnuba Wax')
INSERT [dbo].[NissanFrontierExpenseLog] ([id], [Mileage], [Date], [DollarAmount], [Note]) VALUES (3, NULL, CAST(N'2017-03-18 00:00:00.000' AS DateTime), CAST(19.74 AS Decimal(18, 2)), N'Clay bar')
SET IDENTITY_INSERT [dbo].[NissanFrontierExpenseLog] OFF
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([Id], [Title], [URL], [Date]) VALUES (1, N'Green River', N'https://picasaweb.google.com/107082436175597733376/GreenRiver?authkey=Gv1sRgCPiPidiusezFNA&feat=directlink', CAST(N'2015-08-27' AS Date))
INSERT [dbo].[Photos] ([Id], [Title], [URL], [Date]) VALUES (2, N'Hawkins Horseshoe', N'https://picasaweb.google.com/107082436175597733376/HawkinsHorseshoe?authuser=0&authkey=Gv1sRgCKWak93H3Yqp9gE&feat=directlink', CAST(N'2015-08-10' AS Date))
INSERT [dbo].[Photos] ([Id], [Title], [URL], [Date]) VALUES (3, N'Bertha Peak', N'https://picasaweb.google.com/107082436175597733376/BerthaPeak?authuser=0&authkey=Gv1sRgCI-Bj9775JDSDw&feat=directlink', CAST(N'2015-08-09' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Photos] OFF
SET IDENTITY_INSERT [dbo].[Quotes] ON 

INSERT [dbo].[Quotes] ([Id], [Quote], [Author]) VALUES (1, N'Who needs wilderness? Civilization needs wilderness.', N'Edward Abbey')
INSERT [dbo].[Quotes] ([Id], [Quote], [Author]) VALUES (2, N'At either end of the social spectrum lies a leisure class.', N'Unknown')
INSERT [dbo].[Quotes] ([Id], [Quote], [Author]) VALUES (3, N'It requires some effort to achieve a happy outlook on life, and most people don''t make it.', N'Gregg Easterbrook')
GO
SET IDENTITY_INSERT [dbo].[Quotes] OFF
/****** Object:  Index [PK_ELMAH_Error]    Script Date: 6/8/2018 9:00:43 AM ******/
ALTER TABLE [dbo].[ELMAH_Error] ADD  CONSTRAINT [PK_ELMAH_Error] PRIMARY KEY NONCLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ELMAH_Error_App_Time_Seq]    Script Date: 6/8/2018 9:00:43 AM ******/
CREATE NONCLUSTERED INDEX [IX_ELMAH_Error_App_Time_Seq] ON [dbo].[ELMAH_Error]
(
	[Application] ASC,
	[TimeUtc] DESC,
	[Sequence] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ELMAH_Error] ADD  CONSTRAINT [DF_ELMAH_Error_ErrorId]  DEFAULT (newid()) FOR [ErrorId]
GO
ALTER TABLE [dbo].[ClimbingRoute]  WITH CHECK ADD  CONSTRAINT [FK_ClimbingRoute_ClimbingArea] FOREIGN KEY([AreaId])
REFERENCES [dbo].[ClimbingArea] ([Id])
GO
ALTER TABLE [dbo].[ClimbingRoute] CHECK CONSTRAINT [FK_ClimbingRoute_ClimbingArea]
GO
ALTER TABLE [dbo].[ClimbingRoute]  WITH CHECK ADD  CONSTRAINT [FK_ClimbingRoute_ClimbingPartner] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[ClimbingPartner] ([Id])
GO
ALTER TABLE [dbo].[ClimbingRoute] CHECK CONSTRAINT [FK_ClimbingRoute_ClimbingPartner]
GO
ALTER TABLE [dbo].[ClimbingRoute]  WITH CHECK ADD  CONSTRAINT [FK_ClimbingRoute_ClimbingRouteType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ClimbingType] ([Id])
GO
ALTER TABLE [dbo].[ClimbingRoute] CHECK CONSTRAINT [FK_ClimbingRoute_ClimbingRouteType]
GO
/****** Object:  StoredProcedure [dbo].[AllClimbs]    Script Date: 6/8/2018 9:00:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AllClimbs] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT       
			 dbo.Mountains.Id
			, dbo.Mountains.Name
			, dbo.Mountains.Elevation
			, dbo.Mountains.Country
			, dbo.Mountains.State
			, dbo.Mountains.Latitude
			, dbo.Mountains.Longitude
			, dbo.Mountains.MountainNote
			, dbo.MountainSummitLog.MountainID
			, dbo.MountainSummitLog.SummitDate
			, dbo.MountainSummitLog.SummitNote
FROM            dbo.Mountains LEFT OUTER JOIN
                         dbo.MountainSummitLog ON dbo.Mountains.Id = dbo.MountainSummitLog.MountainID

						 order by  dbo.MountainSummitLog.SummitDate desc
END


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ClimbingArea"
            Begin Extent = 
               Top = 14
               Left = 751
               Bottom = 144
               Right = 921
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ClimbingPartner"
            Begin Extent = 
               Top = 188
               Left = 729
               Bottom = 318
               Right = 899
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ClimbingRoute"
            Begin Extent = 
               Top = 6
               Left = 0
               Bottom = 136
               Right = 173
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "ClimbingType"
            Begin Extent = 
               Top = 112
               Left = 544
               Bottom = 208
               Right = 714
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RoutesJoined'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RoutesJoined'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RoutesJoined'
GO
USE [master]
GO
