@{
    ViewBag.Title = "Adventures";
}

<div class="container">
    <br />
    <div class="well well-sm">
        <h2><i class="fa fa-camera-retro fa-lg"></i> Adventures</h2>
        Below are links to pictures of my most memorial adventures
    </div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <br />
    <br />
    <div class="row">
        <div class="col-sm-12" style="background-color:gray; color:white; font-weight:bold;">2015</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
        <ul>
            <li><a href="https://picasaweb.google.com/107082436175597733376/GreenRiver?authuser=0&authkey=Gv1sRgCPiPidiusezFNA&feat=directlink">Green River</a> (8/27)</li>
            <li><a href="https://picasaweb.google.com/107082436175597733376/AlbertaSummer2015?authuser=0&authkey=Gv1sRgCNfBhPGm4NyqtAE&feat=directlink">Alberta</a> <span class="small">(8/15)</span></li>
            <li><a href="https://picasaweb.google.com/107082436175597733376/HawkinsHorseshoe?authuser=0&authkey=Gv1sRgCKWak93H3Yqp9gE&feat=directlink">Hawkins Horseshoe</a> <span class="small">(8/10)</span></li>
        </ul>
        </div>
        <div class="col-sm-3">###</div>
        <div class="col-sm-3">.col- 3</div>
        <div class="col-sm-3">###</div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-12" style="background-color:gray; color:white; font-weight:900;">2014</div>
    </div>

    <div class="row">
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-4">.col-sm-4</div>
    </div>
</div>

